<!DOCTYPE html>
<html>
<body>

<form method="post" action="/register" >
    <label for="code">Code:</label><br>
    <input type="text" id="code" name="code"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="type">Choose a type:</label>

    <select name="type" id="type">
        <option value="fabric">Fabric</option>
        <option value="jeans">Jeans</option>
        <option value="cotton">Cotton</option>
    </select><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="supplier">Supplier:</label><br>
    <input type="text" id="supplier" name="supplier"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
